@page "/playersAttending"

@using UConnBleedBlue.Models

@inject PlayerService PlayerService
@inject NavigationManager NavigationManager;


<PageTitle>Players Attending</PageTitle>

<h1 class="colorBlue">Players Planning To Attend : @attending</h1>



@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped colorBlue">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Final Year</th>
                <th>Team Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.playerId</td>
                    <td>@player.playerName</td>
                    <td>@player.playerFinalYear</td>
                    <td>
                        <button @onclick="@(() => ViewTeam(player.playerFinalYear))">View</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int attending = 0;
    public List<Player>? players = new List<Player>();
    private List<Player>? ReadExcel()
    {
        players = PlayerService.GetPlayers();
        if (players != null)
        {
            attending = players.Count;
        }
        return players;
    }
    protected override void OnInitialized()
    {
        ReadExcel();
        base.OnInitialized();
    }
    public void ViewTeam(string? year)
    {
        if (year == null)
        {
            return;
        }
        if (year == "?")
        {
            return;
        }
        // Save the required year of the photo in the PlayerService which can be accessed by other components
        PlayerService.SelectedPlayerFinalYear = year;
        NavigationManager.NavigateTo("TeamPhoto");
    }
}
